

<div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/ashwin-adhikari-9066b8182/"><i class="fab fa-linkedin"></i></a>
    <a class="footer-link" href="https://www.facebook.com/crackifyoucan788357492/"><i class="fab fa-facebook"></i></a>
    <a class="footer-link" href="https://github.com/ashwinadhi"><i class="fab fa-github-square"></i></a>
    <p class="copyright">© 2021 Sajilo-Blog.</p>
  </div>

</body>
</html>
